In [1]:
# import dependencies
import pandas as pd

In [2]:
# load Vine reviews data into a DataFrame
vine_data_df = pd.read_csv("vine_table.csv")
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y

In [6]:
vine_data_df['review_id'].count()

960872

In [3]:
# filter DataFrame for rows with at least 20 total votes
filtered_review_df = vine_data_df[vine_data_df["total_votes"]>=20]
filtered_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y

In [4]:
# filter DataFrame for rows where at least half the reviews were helpful
helpful_df = filtered_review_df[filtered_review_df['helpful_votes']/filtered_review_df['total_votes']>=0.5]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [5]:
helpful_df['review_id'].count()

8409

In [9]:
# filter DataFrame for rows where review was written as part of the Vine program i.e. vine = 'Y'
vine_df = helpful_df[helpful_df['vine']=='Y']
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N

In [10]:
# filter DataFrame for rows where review was written as NOT part of the Vine program i.e. vine = 'N'
not_vine_df = helpful_df[helpful_df['vine']=='N']
not_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [13]:
# count number of reviews in Vine program
vine_count = vine_df['review_id'].count()
vine_count

47

In [14]:
# count number of reviews NOT in Vine program
not_vine_count = not_vine_df['review_id'].count()
not_vine_count

8362

In [17]:
# count number of 5-star reviews in Vine program
vine_5_star_count = vine_df[vine_df['star_rating']==5]['review_id'].count()
vine_5_star_count

15

In [18]:
# count number of 5-star reviews NOT in Vine program
not_vine_5_star_count = not_vine_df[not_vine_df['star_rating']==5]['review_id'].count()
not_vine_5_star_count

4332

In [19]:
vine_5_star_perc = vine_5_star_count/vine_count * 100
vine_5_star_perc

31.914893617021278

In [20]:
not_vine_5_star_perc = not_vine_5_star_count/not_vine_count * 100
not_vine_5_star_perc

51.80578808897393